
<div class="page-header-wrapper">
<!--
	<div class="page-header">
  		<h2><a>{% if page.tagline %} <small> {{ page.tagline }}:</small><br>{% endif %}
  			{{ page.title }} </a></h2>
  	</div>
  	
</div>
-->
<div class="row">
  
<div class="col-md-12">
  <img src="assets/Screenshot2.png" alt="">
  <!--{% include JB/comments %}-->
</div>

</div>

<div class="row">

  <div class="col-md-4">
      <hr>
  <div class="thumbnail page-header">

    {{ content }}
  </div>
  </div>

    <hr>
    <li class="col-md-offset-1 col-md-3">
          <div class="thumbnail page-header">
            <h2><a href="/keroinxidian.html">Kero in Xidian</a></h2>
            <p>我用这样特殊的方式，记录四年的荏苒时光，这里有美好，有悲伤，有欢笑，有泪水，这里有与我共同经历这些美好的你们，这里是我的大学。</p>
          </div>
    </li>

    <li class="col-md-offset-1 col-md-3">
          <div class="thumbnail page-header">
            <h2><a href="https://github.com/Yikun/yikun.github.com">Yikun Blog</a></h2>
            <p>这里是我的博客的代码。如果喜欢，你可以点进去看看。也可以顺便Fellow一下我的Github。<br><br></p>
          </div>
    </li>

    <li class="col-md-offset-1 col-md-3">
          <div class="thumbnail page-header">
            <h2><a href="https://github.com/Yikun/Design-On-Fingertips">指尖上的设计</a></h2>
            <p>这是我们(With JunPeng and Boat)2012年全国大学生电子设计竞赛嵌入式邀请赛的作品。你可以在这找到我们比赛的设计报告(<a href="https://github.com/Yikun/Design-On-Fingertips/blob/master/%E5%AE%A4%E5%86%85%E4%BA%A4%E4%BA%92%E8%AE%BE%E8%AE%A1%E6%B8%B8%E8%A7%88%E7%B3%BB%E7%BB%9F-%E4%B8%AD%E6%96%87%E6%8A%A5%E5%91%8A_V2.0%E6%9C%80%E7%BB%88%E7%A8%BF_%E5%9C%BA%E6%99%AF%E5%9B%BE%E6%9B%B4%E6%96%B0.pdf">PDF</a>)还有(<a href="https://github.com/Yikun/Design-On-Fingertips/blob/master/%E6%8C%87%E5%B0%96%E4%B8%8A%E7%9A%84%E8%AE%BE%E8%AE%A1final.ppt">PPT</a>)。</p>
          </div>
    </li>

    <li class="col-md-offset-1 col-md-3">
          <div class="thumbnail page-header">
            <h2><a href="https://github.com/Yikun">Friendly Link</a></h2>
            <section>
            <a href="http://www.duancong.biz/" target="_blank" title="DC的博客">段聪童鞋</a> | 
            <a href="http://coolidea.ku50.net" target="_blank" title="chen ao的博客">Chen ao</a> |
            <br><br><br><br><br><br>
            </section>
          </div>
    </li>



</div>

<hr>
