//toc
.toc-article
  background #eee
  margin 2em 0 0 0.5em
  padding 1em
  strong
    padding 0.3em 0

#toc
  line-height 1em
  font-size 0.8em
  .toc
    padding 0 
    li
      list-style-type none
    margin-top 1.2em
    margin-bottom 0em
  .toc-child 
    padding-left 1.5em

#toc.toc-aside
  display none
  width 13%
  position fixed
  right 2%
  top 320px
  overflow hidden
  line-height 1.5em
  font-size 1em
  color color-heading
  opacity .6
  transition opacity 1s ease-out
  strong
    padding 0.3em 0
    color color-font
  &:hover
    transition opacity .3s ease-out
    opacity 1
  a
    transition color 1s ease-out
    &:hover
      color color-theme
      transition color .3s ease-out
.active
  color color-theme !important