<div class="row">
<div class="span12">
	<img src="assets/Screenshot2.png" alt="">
	<!--{% include JB/comments %}-->
</div>
<!--
</div>
<div class="page-header-wrapper">

	<div class="page-header">
  		<h2><a>{% if page.tagline %} <small> {{ page.tagline }}:</small><br>{% endif %}
  			{{ page.title }} </a></h2>
  	</div>
  	-->
</div>



<div class="row">
  <div class="span8">
  <hr>
  <h3><a><b>Who are you, and what do you do?</b></a></h3>

  &emsp;&emsp;我叫姜逸坤，平常大家都直呼我的名字，也有人叫我Yikun。我是一名学生。本科和研究生都是在西电，通信，从这点看我似乎是一个很专一的人。^_^
  <p></p>
  <h3><a><b>What hardware do you use?</a></b></h3>

  &emsp;&emsp;恩，一直觉得这种电子产品算是比较昂贵的东西，所以我很追求性价比，换一种说法就是，我比较穷，哈哈。我现在手机用着Motorola DEFY+，还有在大二的时候买的笔记本Acer 4741G，大四实习的时候，用着ThinkPad T420。一个小小的oppo s9k是在高中的时候买的，用森海塞尔 MX170听歌什么的。
  <p></p>
  <h3><a><b>And what software?</a></b></h3>
  &emsp;&emsp;我喜欢简单，快速的软件，操作系统也算是软件吧？我的常用系统是Ubuntu 11.04，当然，和他一起为我服务的还有Win 7，不过由于感觉问题，我还是和Ubuntu待的时间久些。平常用vim用的多些，喜欢用MarkDown写些总结，Evernote我也很喜欢，哦，对了，Git我感觉是个非常好的“装备”，虽然只是刚刚会用一点(2012年8月份开始)。我常用的编程语言是C, C++。本科的时候做的东西比较杂乱，大部分都是和竞赛有关，接触过Java, Android, Hadoop, R, Python, Irrlicht, ARToolkit, QT, ZXing...因为这个Blog我学到了一些HTML和CSS的东西。
  <p></p>
  <h3><a><b>What would be your dream setup?</a></b></h3>
  &emsp;&emsp;还是那两个词，简单，快速。恩，做个总结吧，其实就是顺心就好。
  <p></p>
  </div>
  <div class="span4">
  <hr>
    {{ content }}
  </div>

</div>

<hr>
